html{
  font-size: 125%;
}

  .josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } 



body{
  font-family: "Arial","Meirio",sans-serif;
  
}

.decoration {
  color: black;
  text-align: center;
  letter-spacing: 2rem;
  border-bottom: solid 3px;
  text-shadow: 1px 1px 2px gray; 
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;    
}

.text-color {
  color: skyblue;
}

.text-color2 {
  color: rgb(255, 192, 203);
}

.sita {
  color: skyblue;
  text-align: center;
}

.naka{
  text-align: center;
}

p {
  text-align: center;
}

#basic > h2{
  color: rgb(255, 192, 203);
  text-align: center;
}

#basic > p {
  text-align: center;
  font-weight: bold;
}

h1 {

}
